.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    margin: 0 auto;
    /* flex-basis: 100vh; */
    /* border: 1px solid; */
    display: grid;
    gap: 3rem;
    grid-template-columns: 250px 550px 300px;
    grid-template-rows: 0fr;
    /* grid-template-rows: 1fr 1fr; */
}

.no{
    background-color: aqua;
}

.no1 , .no3 {
    margin-top: 20px;
}

.no1, .no2 {
    height: 500px;
}

.no3 {
    height: 600px;
}