.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(180px, 250px) minmax(500px, 550px)minmax(250px, 300px);
    grid-auto-columns: 700px;
    grid-template-rows: 0fr;
}

.no{
    padding: 20px;
    background-color: aqua;
}

.no4 {
    margin-top: -100px;
    grid-column: span 2;
    height: 250px;
}

.no1 , .no3 {
    /* background-color: blanchedalmond; */
    margin-top: 20px;
}

.no1, .no2 {
    height: 500px;
}

.no3 {
    height: 600px;
}

.no1 > img {
    width: 225px;
}