* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
    transition: 0.2s linear;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --background-color: #0f0707;
    --main-color: #3b4d7e;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--background-color);
}


/* first header starts */
.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background: var(--background-color);
    border-bottom: 1.5px solid white;
}

.first-header .icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first-header .icons i {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.first-header .icons #menu {
    display: none;
}

.first-header .icons i:hover{
    color: var(--main-color);
}

.first-header .icons .search-form {
    position: absolute;
    bottom: 100%;
    left: 5%;
    background: white;
    width: 25rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.first-header .icons .search-form.active {
    top: 3%;
}

.first-header .icons .search-form input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-transform: capitalize;
}

.first-header .icons .search-form label {
    cursor: pointer;
    margin-right: 1rem;
}

.first-header .icons .search-form label:hover{
    color: var(--main-color);
}

.first-header .btn button {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.loginBtn {
    color: #fff;
    background-color: var(--background-color);
}

.loginBtn:hover {
    color: var(--main-color);
}

.subscribeBtn {
    color: #fff;
    background-color: var(--main-color);
}

.subscribeBtn:hover {
    background-color: #fff;
    color: var(--main-color);
}

/* first header ends */
/* second header starts */
.second-header .navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: var(--background-color);
    padding: 1rem 0;
}

.second-header .navBar a {
    color: #fff;
    font-size: 0.9rem;
}

.second-header .navBar a:hover {
    color: var(--main-color);
}

/* second header ends */
/* third header starts */

.third-header .navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    background: #fff;
    box-shadow: 0 5px 5px rgb(207, 207, 207);
    padding: 0.35rem 1rem;
}

.third-header .navBar a {
    color: #4c5167;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.2rem;
}


.third-header .navBar a:hover {
    color: #1a48c4;
}

.third-header .navBar .subscribeBtn {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

/* third header ends */
/* responsive header starts */
.responsive-header {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    padding: 1rem;
}

.responsive-header .navBar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.responsive-header .navBar a  {
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.responsive-header .navBar a:hover {
    color: var(--main-color);
}

.responsive-header .subscribeBtn {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;   
}
