@media (max-width: 1000px){
    .first-header, .second-header, .third-header{
        display: none;
    }

    .responsive-header {
        display: flex;
    }
}

@media (max-width: 750px){
    .first-header{
        display: flex;
    }

    .responsive-header {
        display: none;
    }

    .first-header .btn {
        display: none;
    }

    .first-header .icons .search-form {
        left: 15%;
    }

    .first-header .icons .search-form.active {
        top: 4%;
    }

    .first-header .icons #menu {
        display: inline-block;
    }

    .second-header {
        display: flex;
    }

    .second-header .navBar {
        position: absolute;
        left: -100%;
        width: 30rem;
        height: 85%;
        display: block;
    }

    .second-header .navBar a {
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        text-align: center;
    }

    .second-header .navBar.active {
        left: 0;
    }

    .main-top {
        /* justify-content: start; */
    }
}

/* @media (max-width: 750px) {
    #logo {
        width: 25%
    }
    .one {

        width: 300px;
    }
    .btn {
        display: none;
    }

    .content_one {
        display: block;
    }

    .left_news_img {
        margin-bottom: 10px;
        display: flex;
        max-width: 100%;
    }

    .left_news_img>img {
        width: 15%;
    }

    .left_news_info {
        margin-left: 10px;
    }

    .chart_more_option {
        display: none;
    }


    .content_five_flex {
        display: block;
    }

    .content_five_img {
        width: 100%;
        margin-bottom: 20px;
    }

    .sectionThree {
        display: block;
    }

    .sectionThreeNews {
        width: 100%;
        margin-bottom: 20px;
    }
} */