* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "EB Garamond", serif; */
  font-family: "Roboto", sans-serif;
  width: 1300px;
  margin: auto;
}
.heading {
  margin: 25px 0;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar ul {
  display: flex;
  gap: 25px;
}

.navBar ul li  {
  list-style: none;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
}

.navBar ul li a:hover {
  text-decoration: underline;
  color: #669BBC;
}

.registration{
  display: flex;
  gap: 20px;
}

.login {
  color: white;
  background-color: #669BBC;
  border: none;
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
}

 .register{
  color: #669BBC;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.308);
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
}

.main{
  margin: 0 50px;
  height: 100vh;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr;
}

.main div {
 background-color: rgba(221, 219, 219, 0.767);
}